name: First Action

on: [push]

jobs:
  say-hello:
    runs-on: windows-latest

    steps:
      # Step 1: The Pre-made Action
      # We use the keyword 'uses' instead of 'run'
      - name: Checkout the code
        uses: actions/checkout@v4

      # Step 2: Verify it worked
      - name: List files in the repository
        run: dir