name: HIL Test Execution

on:
  push:
    branches: [ main ]

jobs:
  run-ecu-test:
    # Change this from 'windows-latest' to your custom label!
    runs-on: [self-hosted, ecu-test]

    steps:
      - name: Checkout Test Scripts
        uses: actions/checkout@v4

      - name: Start ECU-TEST
        shell: powershell
        run: |
          # Example command to start ECU-TEST via its Command Line Interface
          # You will need the actual path to your ECU-TEST executable
          & "C:\Tools\ecutest2025_2\ecu.test.exe" --workspaceDir "C:\Projects\gh-actions-ws" --open "C:\Projects\gh-actions-ws\Packages\Tests\BrakeTest.pkg" --run "C:\Projects\gh-actions-ws\Packages\Tests\BrakeTest.pkg" --waitRunFinished